<!DOCTYPE html>
<html>
  <head>
    <title>Swagger</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <!-- This project uses opensource API called generational weather xml interface by testingstuff0 -->
      <h2>API site</h2>
      WIP: This site is supposed to return APIKEY but it's not yet implemented.. For devs only for now!

      <h3>TODO:</h3>
      - Senior dev said to read what .gitignore is before pushing the repo to github (I'll check this one later, gotta push it now!)<br>
      - What is CSS?
  </body>
</html>